version: "3"
services:
    exzork_simpedarku_dev:
        container_name: exzork_simpedarku_dev
        build:
            context: ./
            dockerfile: Dockerfile
        restart: always
        expose:
            - 80
            - 443
        links:
            - mysql
        depends_on:
            - mysql
        volumes:
            - ./upload.ini:/usr/local/etc/php/conf.d/upload.ini
            - ./:/var/www
            - ./public:/var/www/html:rw
            - ./storage:/var/www/storage:rw
        environment:
            - VIRTUAL_HOST=simpedarku-dev.exzork.me
            - LETSENCRYPT_HOST=simpedarku-dev.exzork.me
            - LETSENCRYPT_EMAIL=muhammadeko.if@gmail.com
networks:
    default :
        name: nginx-proxy
